
.reviews {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid  #444444;*/
    padding: 10px 0 20px;
    align-items: center;
}
.reviews h3{
    color: #cccccd;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.reviews h3 span{
    font-weight: 400;
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 0 10px 0 20px;
    font-size: 12px;
}
.reviews h3 span:hover{
  background: #303033;
}
.reviews .emoji{
    display: flex;
}
.reviews .emoji .img{
    /*border: 1px solid #444444;*/
    color: #444444;
    margin-right:6px;
    padding: 3px;
}
.reviews .emoji img{
    width: 24px;
}
.reviews .emoji em{
    font-size: 10px;
}
.container .cardList{
    width: 960px;
}
.container .cardList .card{
    display: flex;
    justify-content: left;
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #505050;
}
.container .card .useful{
    padding: 5px 20px 10px;
    width: 80px;
}
.container .card .useful .question{
    font-size: 10px;
    color: #868689;
    text-align: center;
}
.container .card .useful .hr{
    width: 80px;
    height: 4px;
    background: #38383a;
    margin: 7px 0;
}
.container .card .text{
    width: 840px;
}
.container .card .or{
    display: flex;
    justify-content: space-between;
}
.container .card .or{
    font-size: 12px;

}
.container .card .red span{
    position: absolute;
    top: 7px;
    left: 13px;
    font-size: 10px;
}
.container .card .green span{
    position: absolute;
    top: 7px;
    left: 21px;
    font-size: 10px;
}
.cardList .card .or .green{
    color: #298029;
    position: relative;
    padding-right: 10px;
}
 .cardList .card .or .red{
    color: #fd7059;
     position: relative;
     padding-right: 10px;
}
.cardList .card .container{
    display: flex;
    justify-content: space-between;
    color: #cccccd;
}
.cardList .card .container h3{
    font-size: 20px;
    font-weight: 500;
    padding: 0 40px 9px 0;
    /*align-items: center;*/
    /*margin: auto;*/
    text-align: center;
}
.cardList .card .container h3 img{
    width:23px;
    padding-left: 7px;
}
.cardList .card .container .date{
    color: #868689;
    font-size: 13px;
    padding: 7px 0 1px ;
}
.cardList .card .text{
    color: #cccccd;
    font-size: 14px;
    line-height: 17px;
}
.cardList .card .text .plus, .minus{
    padding: 1px 0 10px ;
}
.cardList .card .text .plus span{
    color: rgb(255,141,2);
    padding-right: 6px;
    font-size: 17px;
}
.cardList .card .text .minus span{
    color: rgb(147, 147, 147);
    padding-right: 6px;
    font-size: 17px;
}
.cardList .card .text em{
    padding-bottom: 10px;
}
.cardList .card .text em span{
    color: #868689
}
.cardList .card .text em span:hover{
    color: rgb(255,141,2);
}
.cardList .card .text .discuss{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #868689;
    padding-bottom: 10px;
}
.cardList .card .text .discuss:hover{
    color: rgb(255,141,2);
}
.more_buy{
    font-size: 24px;
    color: rgb(255,141,2);
    border: 1px solid rgb(255,141,2);
    border-radius: 5px;
    display: inline-block;
    padding: 14px 44px;
    margin: 20px 360px;
}
